TopDownCalculator/WebContent/wsdl/CalculatorPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://codejava.net/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculatorService" targetNamespace="http://codejava.net/">
  
  <types/>
  
  <message name="add">
    
    <part name="arg0" type="xsd:int"/>
    
    <part name="arg1" type="xsd:int"/>
    
  </message>
  
  <message name="addResponse">
    
    <part name="return" type="xsd:int"/>
    
  </message>
  
  <message name="sub">
    
    <part name="arg0" type="xsd:int"/>
    
    <part name="arg1" type="xsd:int"/>
    
  </message>
  
  <message name="subResponse">
    
    <part name="return" type="xsd:int"/>
    
  </message>
  
  <message name="div">
    
    <part name="arg0" type="xsd:int"/>
    
    <part name="arg1" type="xsd:int"/>
    
  </message>
  
  <message name="divResponse">
    
    <part name="return" type="xsd:int"/>
    
  </message>
  
  <message name="mul">
    
    <part name="arg0" type="xsd:int"/>
    
    <part name="arg1" type="xsd:int"/>
    
  </message>
  
  <message name="mulResponse">
    
    <part name="return" type="xsd:int"/>
    
  </message>
  
  <portType name="Calculator">
    
    <operation name="add" parameterOrder="arg0 arg1">
      
      <input message="tns:add" wsam:Action="http://codejava.net/Calculator/addRequest"/>
      
      <output message="tns:addResponse" wsam:Action="http://codejava.net/Calculator/addResponse"/>
      
    </operation>
    
    <operation name="sub" parameterOrder="arg0 arg1">
      
      <input message="tns:sub" wsam:Action="http://codejava.net/Calculator/subRequest"/>
      
      <output message="tns:subResponse" wsam:Action="http://codejava.net/Calculator/subResponse"/>
      
    </operation>
    
    <operation name="div" parameterOrder="arg0 arg1">
      
      <input message="tns:div" wsam:Action="http://codejava.net/Calculator/divRequest"/>
      
      <output message="tns:divResponse" wsam:Action="http://codejava.net/Calculator/divResponse"/>
      
    </operation>
    
    <operation name="mul" parameterOrder="arg0 arg1">
      
      <input message="tns:mul" wsam:Action="http://codejava.net/Calculator/mulRequest"/>
      
      <output message="tns:mulResponse" wsam:Action="http://codejava.net/Calculator/mulResponse"/>
      
    </operation>
    
  </portType>
  
  <binding name="CalculatorPortBinding" type="tns:Calculator">
    
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <operation name="add">
      
      <soap:operation soapAction=""/>
      
      <input>
        
        <soap:body namespace="http://codejava.net/" use="literal"/>
        
      </input>
      
      <output>
        
        <soap:body namespace="http://codejava.net/" use="literal"/>
        
      </output>
      
    </operation>
    
    <operation name="sub">
      
      <soap:operation soapAction=""/>
      
      <input>
        
        <soap:body namespace="http://codejava.net/" use="literal"/>
        
      </input>
      
      <output>
        
        <soap:body namespace="http://codejava.net/" use="literal"/>
        
      </output>
      
    </operation>
    
    <operation name="div">
      
      <soap:operation soapAction=""/>
      
      <input>
        
        <soap:body namespace="http://codejava.net/" use="literal"/>
        
      </input>
      
      <output>
        
        <soap:body namespace="http://codejava.net/" use="literal"/>
        
      </output>
      
    </operation>
    
    <operation name="mul">
      
      <soap:operation soapAction=""/>
      
      <input>
        
        <soap:body namespace="http://codejava.net/" use="literal"/>
        
      </input>
      
      <output>
        
        <soap:body namespace="http://codejava.net/" use="literal"/>
        
      </output>
      
    </operation>
    
  </binding>
  
  <service name="CalculatorService">
    
    <port binding="tns:CalculatorPortBinding" name="CalculatorPort">
      
      <soap:address location="http://localhost:8080/TopDownCalculator/services/CalculatorPort"/>
      
    </port>
    
  </service>
  
</definitions>
